{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<html>

<head>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col">
        <div class="card">
          <div class="row card-body">
            <div class="col">
              <h1 class="display-2 mb-4">Exam Security.<br class="d-none d-md-inline"> Done Right.</h1>
              <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
              <p class="lead mb-4 text-muted">Online proctoring to advance your learning and testing program. Validate
                knowledge. Reduce costs. Expand access.</p>
            </div>
            <div class="col text-right">
              <img src="{{ url_for('static', filename='myproctoraiindex.gif') }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="content content-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6">
          <div id="platform-exam_proctoring" class="platform-animation">
            <img class="mb-3 mt-3" src="/static/e16.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <h1 class="display-2 mb-4">Exam Proctoring</h1>
          <p class="lead mb-4 text-muted">An all-inclusive remote monitoring solution.
          <ul class="feature-list mt-4">
            <li>Automated Proctoring</li>
            <li>Create Questions</li>
            <li>Professional Review</li>
          </ul>
          </p>
        </div>
      </div>

      <!-- <div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
        <img class="mb-3 mt-3" src="/static/feature-platform-2.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 order-md-1">
        <h1 class="display-2 mb-4">Content Protection</h1>
        <p class="lead mb-4 text-muted">MyProctor.ai ensures exam integrity by preventing internet navigation, use of mobile devices, screen captures, printing or sharing.</p>
        <ul class="feature-list mt-4">
        <li>Distribution Prevention</li>
        <li>Copy/Print/Download Restrictions</li>
        </ul>
        </div>
        </div> -->


      <!-- <div class="row align-items-center my-large">
        <div class="col-md-6">
        <img class="mb-3 mt-3" src="/static/feature-content-protection-2.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
        <h1 class="display-2 mb-4">Distribution Prevention</h1>
        <p class="lead mb-4 text-muted">MyProctor.ai prevents test distribution through a host of adjustable settings to restrict the ability to copy and paste, print, download or make screen captures while automatically clearing caches and disabling extensions during the assessment to keep exam content secure.</p>
        </div>
        </div> -->

      <div class="row align-items-center">
        <div class="col-md-6">
          <div id="platform-data_analytics" class="platform-animation mb-3 mt-3">
            <img class="mb-3 mt-3" src="/static/Aggregate-Exam-Data.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1">
          <h1 class="display-2 mb-4">Data Analytics</h1>
          <p class="lead mb-4 text-muted">Instant, objective data is immediately available after every assessment, with
            parameters set by instructors or administrators.</p>
          <ul class="feature-list mt-4">
            <li>Administrative Dashboard</li>
            <li>Student Monitoring</li>
            <li>Aggregate Exam Data</li>
          </ul>
        </div>
      </div>

      <div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
          <img class="mb-3 mt-3" src="/static/admin-dashboard-1.png" alt="">
        </div>
        <div class="col-md-6 col-lg-5 order-md-1">
          <h1 class="display-2 mb-4">Admin Dashboard</h1>
          <p class="lead mb-4 text-muted">Create global settings and usage reports that give you actionable information
            by department, school or institution. Filter activity and reporting by course, test-taker, or exam.</p>
          <p class="lead mb-4 text-muted">Manage exam parameters, computer requirements, account information, faculty
            controls, and Gradebook settings.</p>
        </div>
      </div>


    </div>
  </section>
  <br>
  {% endblock %}